<?xml version="1.0" encoding="UTF-8"?>
<launch>

	<include file="$(find box)/launch/spawn_xacro.launch">

		<arg name="x" value="0.0"/>
		<arg name="y" value="0.0"/>
		<arg name="z" value="0.0"/>
		<arg name="urdf_robot_file" value="$(find box)/urdf/box.urdf"/>
		<arg name="robot_name" value="my_box"/>

	</include>

</launch>
